doctype 5
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        title=title
        // Bootstrap core CSS
        link(href='../../stylesheets/bootstrap.css', rel='stylesheet')
        // Add custom CSS here
        link(href='../../stylesheets/custome.css', rel='stylesheet')
    body
      .container
        block content
      script(src='../../javascripts/jquery.js')
      script(src='../../javascripts/bootstrap.js')